.humo {
	width: 40px;
	height: 40px;
	background: grey;
	border-radius: 20px;
	left:240px;
	position:relative;
}
.humo1{
	width: 40px;
	height: 40px;
	background: grey;
	border-radius: 20px;
	left:190px;
	position:relative;
}
.cuadrado{
	width:200px;
	height:200px;
	background-color:pink;
	border:2px solid black;
	position:absolute;
	top:200px;
}
.triangulo {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid violet;
	bottom: 151px;
	position:relative;
		
}
.puerta{
	width:50px;
	height:55px;
	background-color:red;
	border:2px solid black;
	position:relative;
	top:294px;
	right:28px;
	
}
.chimenea{
	width:35px;
	height:80px;
	background-color:black;
	left:163px;
	position:relative;
	top:27px;
}
.rama{
	width:50px;
	height:150px;
	background-color: brown;
	left:500px;
	position :absolute;
	
}
.hoja{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:500px;
	bottom:35px;
	border:1px dashed black;
}
.hoja1{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:455px;
	bottom:70px;
	border:1px dashed black;
}
.hoja2{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:420px;
	bottom:150px;
	border:1px dashed black;
}
.hoja3{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:430px;
	bottom:245px;
	border:1px dashed black;
}
.hoja4{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:456px;
	bottom:329px;
	border:1px dashed black;
}
.hoja5{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:460px;
	bottom:310px;
	border:1px dashed black;
}
.hoja6{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:475px;
	bottom:385px;
	border:1px dashed black;
}
.hoja7{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:500px;
	bottom:430px;
	border:1px dashed black;
}.hoja8{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:500px;
	bottom:509px;
	border:1px dashed black;
}.hoja9{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:500px;
	bottom:600px;
	border:1px dashed black;
}.hoja10{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:537px;
	bottom:630px;border:1px dashed black;
}.hoja11{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:550px;
	bottom:650px;
	border:1px dashed black;
}.hoja12{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:548px;
	bottom:670px;
	border:1px dashed black;
}.hoja13{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:549px;
	bottom:670px;
	border:1px dashed black;
}.hoja14{
	width:50px;
	height:50px;
	border-radius: 50%;
	background-color: green;
	position:relative;
	left:560px;
	bottom:768px;
	border:1px dashed black;
}